$primary_1: #d5f5e3;
$primary_2: #88e581;
$primary_3: #2050f06b;

/*Sección Navbar*/
nav {
  position: sticky;
  top: 0;

  ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary_2;
  }

  li {
    float: left;
    border-right: 1px solid #d5f5e3;
  }

  li a {
    display: block;
    color: #0742219e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: $primary_3;
  }
}

body {
  background-color: $primary_1;
}

h1 {
  text-align: center;
  font-family: "Lucida Handwriting", "cursive";
}
.container {
  position: relative;
  width: 300px;
}

.image {
  display: block;
  max-width: 300px;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $primary_2;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*Columnas*/
.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Sección card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.precio {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #0742219e;
  background-color: $primary_2;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}