$primary_1: #d5f5e3;
$primary_2: #88e581;
$primary_3: #2050f06b;
$primary_4: #0742219e;

* {
  margin: 0;
  padding: 0;
}

/*Sección Navbar*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary_2;
    display: flex;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;
    float: left;
  }

  li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 16px;
    color: $primary_4;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  li a:hover {
    background-color: $primary_3;
  }

  li.frase {
    flex-grow: 1;
  }
}

body {
  background-color: $primary_1;
  padding-top: 60px;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Helvetica", "Sans-serif	";
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.texto {
  background-color: $primary_1;
  border-radius: 25px;
  font-size: 20px;
  color: $primary_4;
  border: 2px solid $primary_4;
  margin: 20px;
  padding: 20px;
}

.container {
  position: relative;
  max-width: 300px;
  height: 200px;
}

.image {
  display: block;
  max-width: 300px;
  height: 200px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $primary_4;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*Columnas*/
.column {
  float: left;
  width: 25%;
  text-align: center;
  flex: 1 1 25%;
  max-width: 25%;
  padding: 10px;
  box-sizing: border-box;
}

.row {
  text-align: center;
  margin-left: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/*Categorias*/
.categorias {
  text-align: center;
  width: auto;
  border: 3px solid $primary_4;
  margin-left: 30px;
}

/*Sección card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;

  button {
    border: none;
    outline: 0;
    padding: 12px;
    color: $primary_4;
    background-color: $primary_2;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  button:hover {
    opacity: 0.7;
  }
}

.precio {
  color: grey;
  font-size: 20px;
}

.oferta {
  color: rgb(241, 12, 12);
  text-decoration: line-through 1px;
  font-size: 21px;
}

footer {
  background-color: $primary_2;
  text-align: center;
  padding: 20px 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: $primary_4;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  position: sticky;
}

/*Contacto*/

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid $primary_4;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: white;
}

input[type=submit] {
  background-color: $primary_4;
  color: $primary_1;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: $primary_3;
}

.contenedor {
  max-width: 600px;
  height: 200px;
  margin: auto;
  margin-bottom: 395px;
  padding: 20px;
}

@media (max-width: 768px) {
  .column nav {
    flex: 1 1 100%;
    max-width: 100%;
  }
}