@use '../abstracts/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: variables.$primary-1;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  font-family: "Helvetica", "Sans-serif";
}
