.footer {
  background-color: $primary_2;
  text-align: center;
  padding: 20px 10px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  color: $primary_4;
  position: sticky;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;

  &__text {
    margin: 0;
  }
}

